# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Stellar
NEXT_PUBLIC_STELLAR_NETWORK=testnet

# x402
NEXT_PUBLIC_X402_FACILITATOR_URL=https://www.x402.org/facilitator
NEXT_PUBLIC_X402_NETWORK=stellar:testnet
NEXT_PUBLIC_X402_PAY_TO=
